.shares_header
  .shares_header__box
    = link_to root_path, class: 'root_path' do
      = image_tag "filmi_素材/header_logo_icon.png", alt: 'ロゴ画像', class: 'header_logo_icon'
      Filmi

    %ul.shares_header__box__menu
      %li.shares_header__box__menu__sign_up
        = link_to new_user_registration_path, class: 'link' do
          新規登録
      %li.shares_header__box__menu__login
        = link_to user_session_path, class: 'link' do
          ログイン
      %li.shares_header__box__menu__search
        = icon('fa', 'search')