.shares_header
  .shares_header__box
    = link_to root_path, class: 'root_path' do
      = image_tag "filmi_素材/header_logo_icon.png", alt: 'ロゴ画像', class: 'header_logo_icon'
      Filmi

    %ul.shares_header__box__menu
      %li.shares_header__box__menu__movie#menu_movie
        映画
      %li.shares_header__box__menu__tv#menu_tv
        テレビ番組

      %li.shares_header__box__menu__new
        = icon('fa', 'plus', class: 'shares_header__box__menu__new__list')

      %li.shares_header__box__menu__my_page
        = icon('fa', 'user-circle', class: 'shares_header__box__menu__my_page__list')

      %li.shares_header__box__menu__logout
        = link_to destroy_user_session_path, class: 'link' do
          ログアウト

      %li.shares_header__box__menu__search
        = icon('fa', 'search')