= render 'shares/user_header'

.user_edit
  .user_edit__wrapper
    .user_edit__wrapper--title
      アカウント設定
    = form_with model: @user, class: 'user_edit__wrapper__form' do |f|
      .user_edit__wrapper__form__name.user_edit__wrapper__form__item
        ユーザー名
        = @user.name
        = f.text_field :name
      .user_edit__wrapper__form__email.user_edit__wrapper__form__item
        = @user.email
        = f.text_field :email

      = f.submit '更新', class: 'user_edit__wrapper__form--btn'

= render 'shares/footer'